@import url('http://fonts.googleapis.com/css?family=Montserrat|Lato');

body {
    background-color: bisque;
}

.recipe-information, .recipe-links, .recipe-heading, .recipe-image, .recipe-description, .recipe-ingredients, .recipe-steps {
    display: block;
    margin: auto;
    max-width: 800px;
}

.recipe-list, .recipe-description, .recipe-ingredients, .recipe-steps {
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.recipe-heading {
    font-size: 20px;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-information, .recipe-links {
    margin: 20px 200px;
    padding: 50px;
    background-color: white;
}
